#container {
    display: flex;
    flex-wrap: wrap;
}


ul {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background-color: grey;
    border-style: solid;
    border-color: black;
    justify-content: flex-end;
    padding: 8px;

}

li {
    width: 40px;
    height: 100px;
    margin: 3px;
}

li:hover {
    background-color: navy;
}

#nav {
    height: 120px;
}

.track {
    margin: 3px;
    border:2px solid black;
}

.segment{
    border:2px solid black;
}

.on{
    background-color: black;
}

.off{
    background-color: white;
}
