#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    background-color: yellow;
}

li {
    width: 20px;
    height: 60px;
    margin: 3px;
    background-color: pink;
}

li:hover {
    background-color: green;
}

#nav {
    height: 120px;
}