#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    padding-left: 150px;
}

#nav {
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
}

#canvas{
    background-color: black;
    height: 100%;
    width: 500px;
}


.track {
    margin: 3px;
    border:2px solid black;
    display: flex;
    width: 650px;
}

.track-div-left{
    background-color: grey;
}


.track-div-right{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    background-color: grey;
    border-style: solid;
    border-color: black;
    justify-content: flex-end;
    padding: 8px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.segment{
    width: 40px;
    height: 100px;
    margin: 3px;
    border:2px solid black;
}

.on{
    background-color: black;
}

.off{
    background-color: white;
}



